.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #ecfdf5;
    justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 550px;
  gap: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .paginationButton {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #34d399;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .paginationButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    margin: 0 10px;
  }

  .noHotelsMessage {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #34d399;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color:  #d1fae5; 
    border: 1px solid  #d1fae5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .container {
        width: 90%;
    }
}